<launch>
  <group ns="imu">
    <node pkg="declination" type="compute.py" name="declination_compute" cwd="node">
      <remap from="fix" to="/gps/fix" />
    </node>
    <node pkg="declination" type="apply.py" name="declination_apply">
      <param name="default" value="-9.7" />
    </node>
  </group>
</launch>
